*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


nav a {
    color: blue;
    font-size: 30px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;

}

