*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


nav a {
    color: blue;
    font-size: 30px;
    text-decoration: none;

}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;

}

nav li {
    display: inline;
    margin-right: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 80%;
}

main section {
    margin-top: 6rem;
    padding: 2rem;
}


.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
}

.product-card {
    width:300px;
    margin: 1%;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
}

.product-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-info {
    text-align: center;
}

.product-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.learn-more {
    display: flex;
    display: inline;
    color: #BF7631;
    margin-right: 60px;
    justify-content: flex-start;
    align-items: flex-end;
}

.add-to-cart {
    display: flex;
    display: inline;
    background-color: #BF7631 ;
    color: #FFFFFF;
   justify-content: flex-end;
    align-items: flex-end;
}

.first-image {
    width: 400px;
    height: 600px;
    display: flex;
    float: right;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.text-box {
    width: 300px;
    padding:20px;
}

.second-image {
    width: 300px;
    height: 400px;
    display: flex;
    float: right;
}

footer {
    text-align: right;
    background-color: #BF7631;
    padding: 4rem;
    position: fixed;
    width: 100%;
}
hr {
    background-color: #707070;
    height: 5px;
    margin: 20px 0;
}